# references:
# * http://www.objc.io/issue-6/travis-ci.html
# * https://github.com/supermarin/xcpretty#usage

language: objective-c
#cache: cocoapods
podfile: Example/Podfile
osx_image: xcode8.0
rvm:
  - 2.2
before_install:
   - gem install cocoapods # Since Travis is not always on latest version
   - pod repo update
   - pod install --project-directory=Example
script:
  - set -o pipefail && xcodebuild test -workspace Example/StravaSwift.xcworkspace -scheme StravaSwift-Example -sdk iphonesimulator ONLY_ACTIVE_ARCH=NO | xcpretty
  - pod lib lint --allow-warnings
